.container {
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.lightTheme {
  background-color: beige;
  color: black;
}

.darkTheme {
  background-color: darkcyan;
  color: white;
}